main {
    overflow-x: auto;
}

.crudTitle {
    width: 100%;
    text-align: center;
    color: var(--textPrimary);
    margin-top: -0.5rem;
    font-size: 2rem;
}

.alterValues {
    margin: auto;
    width: 30rem;
    height: 80%;
    display: block;
    color: var(--textPrimary);
    border: 4px solid var(--primary);
    padding: 1.2rem;
}

.alterValues div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.alterValues input {
    width: 10rem;
    height: 2.4rem;
    padding: 0.4rem;
    border: 4px solid var(--primary);
    color: var(--soft-black);
    border-radius: 0.4rem;
    font-family: 'Poppins';
}

.confirmButtons {
    width: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.confirmButtons a,
.confirmButtons button {
    width: 8rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: var(--primary);
    color: var(--textPrimary);
    border: none;
    margin-top: 1rem;
    border-radius: 0.2rem;
    padding: 0.5rem 2.8rem 0.5rem 2.8rem;
    font-family: 'Poppins';
    text-decoration: none;
    cursor: pointer;
    transition: 300ms;
}

.confirmButtons a:hover,
.confirmButtons button:hover {
    background-color: var(--primaryHover);
}

@media (max-width: 800px) {
    main {
        overflow-y: auto;
    }

    .alterValues {
        width: 100%;
    }

    .alterValues input {
        width: 45%;
    }

    .confirmButtons {
        flex-direction: column-reverse;
    }
}