.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 300ms;
}

.registerContainer .register {
    border: 3px solid var(--primary);
    border-radius: 0.25rem;
    width: 25rem;
    height: 20rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: 300ms;
}

.register .inputs {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.register input {
    width: 100%;
    padding: 0.6rem;
    border: 4px solid var(--primary);
    color: var(--soft-black);
    border-radius: 0.4rem;
    font-family: 'Poppins';
    transition: 300ms;
    margin-top: 0.5rem;
}

.register input::placeholder {
    color: rgba(0, 0, 0, 0.8);
}

.register input:focus {
    outline: none;
    border: 6px solid var(--primary);
}

.register .confirmButtons {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register button,
.register a {
    width: 8rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.4rem;
    background-color: #8257e6;
    color: var(--textPrimary);
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 2.8rem 0.5rem 2.8rem;
    font-family: 'Poppins';
    cursor: pointer;
    transition: 300ms;
    text-decoration: solid;
}

.register button:hover,
.register a:hover {
    background-color: var(--primaryHover);
}

@media (max-width: 800px) {
    .register {
        width: 100%;
        height: 80%;
    }

    .register .inputs {
        width: 120%;
    }

    .register input {
        width: 100%;
    }

    .register .confirmButtons {
        flex-direction: column-reverse;
        justify-content: space-around;
        width: 100%;
    }

    .register button,
    .register a {
        margin-top: 1rem;
    }
}